@import '~antd/dist/antd.css';

.ant-card-actions > li{ text-align: left; }
.ant-card-actions{
  background: #FFF;
  padding-left: 35px
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #52c41a !important;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
  color: #30A209 !important
}

.table {
  padding: 5px
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
